# Testing
coverage==7.5.1                  # Test coverage
ruff==0.4.3                      # Python linting

# Types
mypy==1.10.0                     # Static typing
types-requests==2.31.0.20240106  # Type stubs for requests package
